<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>查询失败</title>
        <link rel="stylesheet" href="__PUBLICHOME__/weui.min.css"/>
    </head>
    <body>
    <div class="weui_msg">
        <div class="weui_icon_area"><i class="weui_icon_warn weui_icon_msg"></i></div>
        <div class="weui_text_area">
            <h2 class="weui_msg_title">查询失败</h2>
            <p class="weui_msg_desc">您今日的免费查询次数已用完，赞助我们将获得随机10-{$addlimiter}天不限次数的免费查询时间</p>
        </div>
        <div class="weui_opr_area">
            <p class="weui_btn_area">
                <a href="javascript:;" onclick="callpay()" class="weui_btn weui_btn_primary">现在就赞助我们</a>
            </p>
        </div>
    </div>
     <script type="text/javascript">
        //调用微信JS api 支付
        function jsApiCall()
        {
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest',
                {$wxpayjs},
                function(res){
                    //WeixinJSBridge.log(res.err_msg);
                    //alert(res.err_code+res.err_desc+res.err_msg);
                    if(res.err_msg == "get_brand_wcpay_request:ok"){
                        //alert(res.err_code+res.err_desc+res.err_msg);
                            window.location.href="http://jiesuoba.com/index.php/Home/Checkfixed/paysuccess";
                        }else{
                            //返回跳转到订单详情页面
                            //alert(支付失败);
                            window.location.href="http://jiesuoba.com/index.php/Home/Checkfixed/payerror";
                        }
                }
            );
        }

        function callpay()
        {
            if (typeof WeixinJSBridge == "undefined"){
                if( document.addEventListener ){
                    document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
                }else if (document.attachEvent){
                    document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
                    document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
                }
            }else{
                jsApiCall();
            }
        }
    </script>
    </body>
</html>