<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title> 一键呼叫</title>
        <link rel="stylesheet" href="__PUBLICHOME__/weui.min.css"/>
    </head>
    <body>
    <div class="page slideIn msg">
    <div class="weui_msg">
        <a id = 'tel' href="tel:0756-8992369"><div class="weui_icon_area"><img src="__PUBLICHOME__/img/tel.jpg"></i></div></a>
    </div>
</div>
<script>
document.getElementById("tel").click(); 
</script>
    </body>
</html>