<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<title>联系我们</title>
		<link rel="stylesheet" href="__PUBLICHOME__/css/weui.css" />
		<link rel="stylesheet" href="__PUBLICHOME__/css/example.css" />
		<link rel="stylesheet" href="__PUBLICHOME__/css/style.css" />
	</head>

	<body>
		<div class="container" id="container">
			<div class="article">
				<div class="bd">
					<div class="weui_article" style=";line-height: 1.7em;">
						<section>
							<p>官方网站：www.xhaole.com</p>
							<p>免费热线：400-688-9622</p>
							<p>客服QQ：2597168833</p>
							<p>收件人：修好乐</p>
							<p>收件电话：0756-8992369</p>
							<p>收件地址：广东省珠海市香洲区前山金鸡路378号B101室</p>
						</section>
					</div>
				</div>
			</div>
		<div style="background: #FFFFFF;height: 300px;">&nbsp;</div>
			
		</div>
		<div class="footer" style="background-color: #F4F4F4;">
			<a href="tel:0756-8992369" style="color: #F39800;">客服电话：0756-8992369</a>
		</div>
	</body>

</html>
