<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<title>关于我们_帮助中心 - 修好乐</title>
		<link rel="stylesheet" href="__PUBLICHOME__/css/weui.css" />
		<link rel="stylesheet" href="__PUBLICHOME__/css/example.css" />
		<link rel="stylesheet" href="__PUBLICHOME__/css/style.css" />
	</head>

	<body>
		<div class="header">
			<a href="javascript:history.go(-1)">
				<img src="__PUBLICHOME__/img/left.png" style="">
			</a>
			<span>修好乐</span>
		</div>
		<div class="container" id="container">
			<div class="article">
				<div class="bd">
					<div class="weui_article" style=";line-height: 1.7em;">
						<h1><strong>关于我们</strong></h1>
						<section>
							<p>“修好乐”品牌隶属于珠海兰亭科技有限公司，是一家专门做维修的品牌服务商，致力于提供一站式的维修服务。可提供的服务范围有：智能手机维修、IT产品维修、家电维修等。公司拥有专业的维修团队，都是从事维修行业多年的骨干精英。修好乐一上线便深受资本青睐，目前已获得多家投资机构的共计200万元投资。</p>
						</section>
					</div>
				</div>
			</div>
		<div style="background: #FFFFFF;height: 300px;">&nbsp;</div>
			
		</div>
		<div class="footer" style="background-color: #F4F4F4;">
			<a href="tel:0756-8992369" style="color: #F39800;">客服电话：0756-8992369</a>
		</div>
	</body>

</html>
