<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<title>常见问题_帮助中心 - 修好乐</title>
		<link rel="stylesheet" href="__PUBLICHOME__/css/weui.css" />
		<link rel="stylesheet" href="__PUBLICHOME__/css/example.css" />
		<link rel="stylesheet" href="__PUBLICHOME__/css/style.css" />
	</head>

	<body>
		<div class="header">
			<a href="javascript:history.go(-1)">
				<img src="__PUBLICHOME__/img/left.png" style="">
			</a>
			<span>修好乐</span>
		</div>
		<div class="container" id="container">
			<div class="article">
				<div class="bd">
					<div class="weui_article" style=";line-height: 1.7em;">
						<h1><strong>常见问题</strong></h1>
						<h3><strong>Q：修好乐开通了哪些城市上门维修？</strong></h3>
						<p style="text-indent: 2em;">A您好，修好乐目前仅支持珠海地区用户上门维修服务，其他城市正在陆续开通，请您关注。</p>
						<h3><strong>Q： 修好乐是所有手机都能维修的嘛？</strong></h3>
						<p  style="text-indent: 2em;">A您好，我们修好乐暂时只接受苹果手机维修，其他品牌手机维修将会陆续开通，请您关注。</p>
						<h3><strong>Q： 修好乐是否有实体店？</strong></h3>
						<p  style="text-indent: 2em;">A您好，我们修好乐现在在珠海有实体店（其他城市暂未开通实体店）。</p>
						<h3><strong>Q： 修好乐提供的屏幕是原厂的苹果屏幕吗？</strong></h3>
						<p  style="text-indent: 2em;">A我们修好乐提供的屏幕都要经过严格检测，虽没有官方授权，但品质有保障，请您放心体验，不满意可以退款，而且非人为因素质保180天。</p>
						<h3><strong>Q： 我的屏幕碎了怎么收费？</strong></h3>
						<p  style="text-indent: 2em;">A您好，换屏是需要更换总成，内外屏一起更换，如果内屏没有瑕疵我们修好乐维修回收旧屏，只收取外屏的费用。。</p>
						<h3><strong>Q： 为什么你们的价格比其他维修店便宜？</strong></h3>
						<p  style="text-indent: 2em;">A您好，修好乐的服务宗旨就是让客户以最低的价格享受最极致的服务，体验快乐维修。</p>
						<h3><strong>Q：拆下的屏幕是否回收？价格是多少？</strong></h3>
						<p  style="text-indent: 2em;">A您好，屏幕符合回收标准价格请联系客服咨询。</p>
						<h3><strong>Q： 是否回收旧手机，价格是多少？</strong></h3>
						<p  style="text-indent: 2em;">A您好，可以的哦 具体的价格是以工程师检测为主的</p>
						<h3><strong>Q： 维修后是否提供质保？</strong></h3>
						<p  style="text-indent: 2em;">A您好，我们的配件非人为导致配件损坏的都提供6个月的质保哦</p>
					</div>
				</div>
			</div>
		<div style="background: #FFFFFF;height: 50px;">&nbsp;</div>
			
		</div>
		<div class="footer" style="background-color: #F4F4F4;">
			<a href="tel:0756-8992369"style="color: #F39800;">客服电话：0756-8992369</a>
		</div>
	</body>

</html>