<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<title>服务流程_帮助中心 - 修好乐</title>
		<link rel="stylesheet" href="__PUBLICHOME__/css/weui.css" />
		<link rel="stylesheet" href="__PUBLICHOME__/css/example.css" />
		<link rel="stylesheet" href="__PUBLICHOME__/css/style.css" />
	</head>

	<body>
		<div class="header">
			<a href="javascript:history.go(-1)">
				<img src="__PUBLICHOME__/img/left.png" style="">
			</a>
			<span>修好乐</span>
		</div>
		<div class="container" id="container">
			<div>
				<div>
					<img src="__PUBLICHOME__/img/flow.png" width="100%"/>
				</div>
			</div>
			<div class="article">
				<div class="bd">
					<div class="weui_article" style=";line-height: 1.7em;">
						<h3><strong>一、填写信息</strong></h3>
						<p>
						1.首先您需要在修好乐微信公众号上创建订单，您可以直接在页面点选需要维修的机型及故障信息，并填写您的详细地址及联系方式。
						</p>
						<h3><strong>二、邮寄手机</strong></h3>
						<p>1.在信息填写完毕并完成支付后，点击“订单查询”，输入快递公司名称及运单号。</p>
						<p>2.下单成功后，修好乐客服人员会在第一时间给您回电，核实订单信息，并将订单指派给工程师进为您进行后续的维修服务。</p>
						<h3><strong>三、修好乐接单</strong></h3>
						<p>1.修好乐工程师在收到您邮寄过来的手机后，会在第一时间和您联系，就手机机型及故障问题进行确认。</p>
						<p>2.如若故障相符，工程师会和您核对具体的维修方案和价格，相应的维修方案和价格都可以在官网中进行查询</p>
						<p>3.如若故障不符，工程师会将检测后的实际故障告知于您，并会将由于故障变更而导致维修方案和价格的差异和您进行解释和确认</p>
						<p>4.待您同意维修方案和价格后，工程师会开始为您的设备进行维修</p>
						<h3><strong>四、确认维修结果</strong></h3>
						<p>1.工程师在维修完毕后，会当面向您展示，并请您确认设备故障是否已经处理完成。</p>
						<p>2.在维修结果确认期间，工程师同时也会请你确认设备在维修完毕后的基本功能是否正常，包括显示、触摸、通话等。</p>
						<h3><strong>五、回寄手机</strong></h3>
						<p>1.在您确认维修结果完毕后，我们将立即将手机回寄给您。</p>
						<p>2.目前修好乐免费为您提供顺丰速递回寄服务（如用户问题中止维修手机，要求回寄的，将由用户承担回寄运费）</p>
					</div>
				</div>
			</div>
		<div style="background: #FFFFFF;height: 50px;">&nbsp;</div>
			
		</div>
		<div class="footer" style="background-color: #F4F4F4;">
			<a href="tel:0756-8992369" style="color: #F39800;">客服电话：0756-8992369</a>
		</div>
	</body>

</html>