<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport"content="width=device-width,initial-scale=1,user-scalable=0">
<meta name="format-detection" content="telephone=no" />
<title>修好乐手机维修</title>
<link rel="stylesheet" href="__PUBLICHOME__/css/weui.css" />
<link rel="stylesheet" href="__PUBLICHOME__/css/example.css" />
<link rel="stylesheet" href="__PUBLICHOME__/css/style.css" />
<script type="text/javascript" src="__PUBLICHOME__/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="__PUBLICHOME__/js/phonefiexd.js"> </script>
</head>
<body>
	<div class="container">
		<div class="hd">
			<!--<div style="width: 10%;"><img src="__PUBLICHOME__/img/logo.jpg" width="100%"></div>-->
			<h1 class="page_title"><img style="width: 63%;vertical-align: -0.4rem;padding-right: 10px;" src="__PUBLICHOME__/img/logo_2.jpg"></h1>
			<p class="page_desc">快乐维修，就在修好乐</p>
		</div>
		<!-- 手机维修 -->
		<div class="brand">
		<div class="weui_cells_title xiuhaole_title">手机维修</div>
		<div class="content">
			<div class="weui_cells weui_cells_access">
				<a class="weui_cell" href="javascript:;">
					<div class="weui_cell_bd weui_cell_primary">
						<p>苹果</p>
					</div>
					<div class="weui_cell_ft"></div>
				</a>
			</div>
		</div>
		<div style="width: 100%;">&nbsp;</div>
		</div>
		<!--基础服务-->
		<div class="msg">
			<ul>
				<li><a href="{:U('comprbm')}" class="line">常见问题</a></li>
				<li><a href="{:U('Jiesuoba/seeorder')}" class="line">查询订单</a></li>
				<li><a href="http://m.kuaidi100.com/result.jsp?nu=" class="line">物流查询</a></li>
				<li><a href="###">投诉反馈</a></li>
			</ul>
		</div>
	</div>
	<!-- 底部 -->
	<div class="contact">
		<ul>
			<li><a href="{:U('about')}">关于我们</a></li>
			<li><a href="{:U('trace')}">服务流程</a></li>
			<li><a href="{:U('item')}">服务条款</a></li>
		</ul>
		<p>联系电话:<a href="tel:0756-8992369">0756-8992369</p>
	</div>
	<div class="footer"  style="background-color: #3cc51f" >
		<a
			href="http://wpa.qq.com/msgrd?v=3&uin=2597168833&site=www.xiuhaole.com&menu=yes">
			<img src="__PUBLICHOME__/img/qq.png"
			style="vertical-align: middle; width: 1.9375em; margin: -0.25em 0.9375em 0 0;" />
			<span>咨询在线客服</span> <img src="__PUBLICHOME__/img/btnrr.png"
			style="width: 0.75em; margin-left: 0.625em; vertical-align: middle; margin-top: -0.1875em;">
		</a>
	</div>
	 <include file="Public/toast" />
</body>
</html>