<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	    <title>修好乐手机维修</title>
	    <link rel="stylesheet" href="__PUBLICHOME__/css/weui.css"/>
	    <link rel="stylesheet" href="__PUBLICHOME__/css/example.css"/>
	    <link rel="stylesheet" href="__PUBLICHOME__/css/style.css" />
	    <script src="__PUBLICHOME__/jquery-2.1.4.min.js"></script>
	    <script src="__PUBLICHOME__/js/phonefiexd_color.js"></script>
	    <style type="text/css">
	    	li {
				display: list-item;
			}
	    </style>
	     <script>
			 window.brand_id = "{$brand_id}";
		</script>
	</head>
	<body>
		<div class="header">
			<a href="javascript:history.go(-1)">
				<img src="__PUBLICHOME__/img/left.png" style="">
			</a>
			<span>设备型号和颜色是?</span>
		</div>
		<div class="detail">
			<p>快速报修</p>
		</div>
		<div class="container">
			<ul id="accordion" class="accordion">
				<li>
					<div class="link"><i class="fa-chevron-down"><img src="__PUBLICHOME__/img/plus.png" width="6%" class="plus"/><img src="__PUBLICHOME__/img/minus.png" width="6%" class="minus"/></i>iPhone 6S Plus</div>
					<ul class="submenu">
						<li><a href="###">灰(黑色屏幕)<span class="right"></span></a></li>
						<li><a href="###">银(白色屏幕)<span class="right"></span></a></li>
						<li><a href="###">金(白色屏幕)<span class="right"></span></a></li>
						<li><a href="###">粉(白色屏幕)<span class="right"></span></a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div>&nbsp;<br>&nbsp;</div>
			 <include file="Public/toast" />
	</body>
</html>
