 <include file="Public/head" />
<div class="page-content">
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="page-header">
									<h1>
										编辑/增加费用类型
									</h1>
								</div><!-- /.page-header -->
								<form class="form-horizontal" role="form" method="post"  action="{:U('Admin/Order/edit')}">
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" >费用类型名称:</label>
										<div class="col-sm-9">
											<input type="text"  name="data[costname]" class="col-xs-5 col-sm-5" value="{$old[0]['costname']}" placeholder="输入解锁服务费用类型的名称">
											<input type="text"  style="display:none" name="data[id]" class="col-xs-5 col-sm-5" value="{$old[0]['id']}">
										</div>
									</div>
									<div class="space-4"></div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right">费用类型价格:</label>
										<div class="col-sm-9">
											<input type="text"  name="data[costprice]" class="col-xs-5 col-sm-5" value="{$old[0]['costprice']}" placeholder="输入解锁服务费用类型的价格  如:100">
										</div>
									</div>
									<div class="space-4"></div>
									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="submit">
												<i class="icon-ok bigger-110"></i>
												保存
											</button>
										</div>
									</div>
								</form>
								</div>
							</div>
						</div>
					</div></div> 	





 <include file="Public/foot" />