 <include file="Public/head" />
<div class="page-content">
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								<div class="page-header">
									<h1>
										编辑/增加类目
									</h1>
								</div><!-- /.page-header -->
								<form class="form-horizontal" role="form" method="post"  action="{:U('Admin/Orderfixed/edit')}">
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" >类目名称:</label>
										<div class="col-sm-9">
											<input type="text"  name="data[name]" class="col-xs-5 col-sm-5" value="{$item['name']}" placeholder="输入品牌的名称">
											<input type="text"  style="display:none" name="data[id]" class="col-xs-5 col-sm-5" value="{$item['id']}">
										</div>
									</div>
									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="submit">
												<i class="icon-ok bigger-110"></i>
												保存
											</button>
										</div>
									</div>
								</form>
								</div>
							</div>
						</div>
					</div></div> 	





 <include file="Public/foot" />