<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>修好乐-后台管理系统</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- basic styles -->
		<link href="__PUBLIC__/assets/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<!-- fonts -->

		<!--link rel="stylesheet" href="http://fonts.useso.com/css?family=Open+Sans:400,300" /-->

		<!-- ace styles -->

		<link rel="stylesheet" href="__PUBLIC__/assets/css/ace.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/ace-skins.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/assets/css/bootstrap-duallistbox.css" />
		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="__PUBLIC__/assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="__PUBLIC__/assets/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="__PUBLIC__/assets/js/html5shiv.js"></script>
		<script src="__PUBLIC__/assets/js/respond.min.js"></script>
		<![endif]-->
		
	</head><!-- 		<script src="__PUBLIC__/assets/js/jquery-2.1.4.min.js"></script> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='__PUBLIC__/assets/js/jquery-2.0.3.min.js'>"+"<"+"script>");
		</script>
		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='__PUBLIC__/assets/js/jquery.mobile.custom.min.js'>"+"<"+"script>");
		</script>
		<script src="__PUBLIC__/assets/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/assets/js/typeahead-bs2.min.js"></script>
		<script src="__PUBLIC__/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="__PUBLIC__/assets/js/jquery.ui.touch-punch.min.js"></script>
		<script src="__PUBLIC__/assets/js/jquery.slimscroll.min.js"></script>
		<script src="__PUBLIC__/assets/js/jquery.easy-pie-chart.min.js"></script>
		<script src="__PUBLIC__/assets/js/jquery.sparkline.min.js"></script>
		<script src="__PUBLIC__/assets/js/ace-elements.min.js"></script>
		<script src="__PUBLIC__/assets/js/ace.min.js"></script>
		<script src="__PUBLIC__/assets/js/jquery.bootstrap-duallistbox.js"></script>
<body>
{:W('Admin/Layout/navigation')}
<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>
	
			<div class="main-container-inner">
			<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>
{:W('Admin/Layout/sidebar')}
			<div class="progress progress-striped active form-control" >
		  		 <div id='bar' class="progress-bar progress-bar-success" role="progressbar" 
			      aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" 
			      style="width: 40%;">
				 </div>
			</div>
			<script>
				$(function(){run()});
				function run(){
				 if(nowlength=='100%'){
				    	window.clearTimeout(timeout); 
				        return;
				 }
					var nowlength= $('#bar').css('width');
					$('#bar').css('width',parseInt(nowlength)+1000);
				    var timeout=window.setTimeout("run()",1);
				}
			</script>
					</div>
